@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
html{
  background-color: rgb(38, 150, 224);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}


.feeds{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  border-spacing: 10px;
} 

.feedul{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  border-spacing: 10px;
} 

h2.feeds {
  font-size: 24px;
  color: #f5efef;
  margin-bottom: 10px;
}

ul.feedul {
  list-style: none;
  padding: 0;
}

ul.feedul li {
  margin-bottom: 5px;
}

ul.feedul li a {
  color: #f9f9fa; 
  text-decoration: none;
}


ul.feedul li a:hover {
 text-decoration:double;
 color: red;
 animation-delay: 2ms;
}


ul.feedul li a.active {
  color: #ff0000; 
  font-weight: bold;
}

body, div, img {
  margin: 0;
  padding: 0;
  
}


.slider-container {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  animation: slide 20s infinite;
}

.slider img {
  width:1128px;
  height: 400px;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  33.33% {
      transform: translateX(-100%);
  }
  66.66% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}


h6{
  font-size: 54px;
  text-align: center;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  color: #eceff8;
}

.course-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 300px;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.box .content h3 {
  font-size: 18px;
  margin: 10px 0;
}

.box .content p {
  font-size: 14px;
  color: #888;
}

.download-tab {
  margin-top: 15px;
}

.download-tab a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.download-tab a:hover {
  background-color: #0056b3;
}

button{
  width: inherit;
  height: inherit;
  border-radius:30%;
  padding: 10px;
  background-color: rgb(0, 132, 255);
}

.newimg{
  float: right;
  width:100%;
}

.search-container {
text-align: end;
}

.search-container input[type="text"] {
  padding: 10px 20px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 200px;
  transition: width 0.3s;
}

.search-container input[type="text"]:focus {
  width: 250px;
}

.search-container button {
  position: relative;
  top: 50%;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding:10px 10px 10px 10px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcf;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem;
  margin: 5px;
}

.btn:hover {
  color: #fff;
  background: #224bcf;
}

.heading {
  background: url(../images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading h3 {
  font-size: 3.5rem;
  color: rgb(38, 150, 224);
}

.heading p {
  font-size: 1.6rem;
  color: #666;
  padding-top: .5rem;
}

.heading p a {
  padding-right: .5rem;
  color: #fa1d86;
}

.heading p a:hover {
  color: #224bcf;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  background: rgb(38, 150, 224);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}

.header .logo i {
  color: #fff;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  background: #fa1d86;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #5c87b9;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
  height: 370px;
  padding-top: 30px;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  color: #f9f9fc;
  font-size: 5rem;
  
}

.home .content p {
  font-size: 1.4rem;
  color: hsl(0, 18%, 97%);
  padding: 1rem 0;
  line-height: 2.5;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.category .boxs {
  border-radius: 1rem;
  background: #f5f5f5;
  padding: 4rem 3rem;
  text-align: center;
}

.category .boxs img {
  height: 7rem;
  margin-bottom: 2rem;
}

.category .boxs h3 {
  font-size: 1.7rem;
  color: #302851;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
} 

.about .content h3 {
  color: #eeecf5;
  font-size: 4.5rem;
} 

.about .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #0a0101;
  line-height: 2.5;
}



.course-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-3 .box {
  text-align: center;
  overflow: hidden;
}

.course-3 .box .content {
  padding-top: 1rem;
}

.course-3 .box .content h3 {
  font-size: 1.7rem;
  color: #302851;
  padding: .5rem 0;
}

.course-3 .box .content p {
  font-size: 1.5rem;
  color: #666;
}

.footer {
  background: #c7c5cc;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .boxs h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #302851;
}

.footer .box-container .boxs a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
}

.footer .box-container .boxs a:hover {
  color: #fa1d86;
}

.footer .box-container .boxs a:hover i {
  padding-right: 2rem;
}

.footer .box-container .boxs a i {
  color: #fa1d86;
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: #fa1d86;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #153bc4;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    width: 100%;
    position: relative;
  }
  .about .content h3 {
    font-size: 3rem;
  }
  
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }

 
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
